nvidia-cufile-cu12==1.13.1.3
annotated-types==0.7.0
typing_extensions==4.15.0
triton==3.4.0
sympy==1.14.0
urllib3==1.26.20
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cusparse-cu12==12.5.8.93
smmap==5.0.3
torch==2.8.0
nvidia-nvjitlink-cu12==12.8.93
nvidia-cuda-nvrtc-cu12==12.8.93
pydantic==2.12.5
pygame==2.6.1
fsspec==2025.10.0
pydantic_core==2.41.5
nvidia-nccl-cu12==2.27.3
networkx==3.2.1
mpmath==1.3.0
nvidia-cudnn-cu12==9.10.2.21
gitdb==4.0.12
GitPython==3.1.46
nvidia-cusolver-cu12==11.7.3.90
nvidia-cufft-cu12==11.3.3.83
nvidia-nvtx-cu12==12.8.90
eval_type_backport==0.3.1
sentry-sdk==2.57.0
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cusparselt-cu12==0.7.1
protobuf==6.33.6
nvidia-curand-cu12==10.3.9.90
typing-inspection==0.4.2
wandb==0.25.1
libcomps==0.1.18
numpy==1.23.5
systemd-python==234
h5py==3.7.0
ROOT==6.38.00
dbus-python==1.2.18
pyzmq==22.3.0
scipy==1.9.3
msgpack==1.0.3
mercurial==6.1.4
psycopg2==2.8.6
wxPython==4.2.0
psutil==5.8.0
PyGObject==3.40.1
MarkupSafe==1.1.1
cryptography==36.0.1
Pillow==10.0.1
sip==6.6.2
PyQt5==5.15.9
PyQt5-sip==12.11.1
PyQt6-sip==13.6.0
cffi==1.14.5
kiwisolver==1.4.1
ujson==5.8.0
lxml==4.6.5
QScintilla==2.14.1
setools==4.4.4
gpg==1.15.1
GDAL==3.10.3
PyYAML==5.4.1
pycairo==1.20.1
matplotlib==3.4.3
greenlet==1.1.2
rpm==4.16.1.3
Brlapi==0.8.2
selinux==3.6
nftables==0.1
sphinxcontrib-htmlhelp==1.0.3
future==0.18.3
alabaster==0.7.12
cached-property==1.5.2
backcall==0.1.0
argcomplete==1.12.0
meson==0.63.3
cycler==0.11.0
sphinxcontrib-jsmath==1.0.1
imagesize==1.2.0
parso==0.8.3
tomcli==0.9.0
wcwidth==0.2.5
platformdirs==2.5.4
ipython==8.5.0
setroubleshoot==3.3.33
tomli==2.0.1
prompt-toolkit==3.0.38
idna==2.10
distro==1.5.0
Pygments==2.7.4
Jinja2==2.11.3
xcffib==0.11.1
OWSLib==0.28.1
ply==3.11
executing==0.8.2
scour==0.38.1
stack-data==0.5.0
sphinxcontrib-serializinghtml==1.1.4
importlib-metadata==4.12.0
python-dateutil==2.9.0.post0
requests==2.25.1
decorator==4.4.2
jedi==0.18.1
Mako==1.1.4.dev0
snowballstemmer==1.9.0
olefile==0.46
ptyprocess==0.6.0
dasbus==1.5
matplotlib-inline==0.1.5
urllib3==1.26.5
zipp==3.20.1
iotop==0.6
sphinxcontrib-qthelp==1.0.3
lttngust==2.12.0
pyenchant==3.2.0
six==1.15.0
click==8.0.3
traitlets==5.1.1
appdirs==1.4.4
defusedxml==0.7.1
pycparser==2.20
pytz==2021.1
docutils==0.16
file-magic==0.4.0
recommonmark==0.7.1
sepolicy==3.6
commonmark==0.9.1
bottle==0.12.21
sphinxcontrib-applehelp==1.0.2
chardet==4.0.0
pip==21.3.1
filelock==3.7.1
sphinxcontrib-devhelp==1.0.2
pyparsing==2.4.7
setuptools==53.0.0
distlib==0.3.2
pure-eval==0.2.2
pynvim==0.4.3
toml==0.10.2
tomli_w==0.4.0
Glances==3.3.1
PySocks==1.7.1
Sphinx==3.4.3
Markdown==3.3.4
Babel==2.9.1
pickleshare==0.7.5
virtualenv==20.21.1
httplib2==0.20.3
asttokens==2.0.5
certifi==2023.5.7
pexpect==4.8.0
packaging==20.9
sphinx-rtd-theme==0.5.1
